.App {
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
// .App > * {
//   border: 1px solid red;
// }

// .App > * > * {
//   border: 1px dashed blue;
// }
/* Width and height of the scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track (background) of the scrollbar */
::-webkit-scrollbar-track {
  background: #212529;
}

/* Handle (thumb) of the scrollbar */
::-webkit-scrollbar-thumb {
  background: #f2c471;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #212529;
}
