@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #212529;
  color: #dee2e6;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
@media screen and (max-width: 800px) {
  html {
    scroll-padding-top: 0;
  }
}
@import url("./assets/styles/common.scss");
@import url("./assets/styles/text.scss");
@import url("./assets/styles/navigation.scss");
@import url("./assets/styles/icons.scss");
@import url("./assets/styles/project.scss");
@import url("./assets/styles/contact.scss");
@import url("./assets/styles/skills.scss");
@import url("./assets/styles/hero.scss");
@import url("./App.scss");
