.Hero {
  width: 80vw;
  margin-inline: auto;
  // border: 1px solid red;
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
}

// .intro {
//   margin: 15px 0;
// }

.Bio {
  width: 100%;
  line-height: 25px;
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Hero-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
}
.kumar {
  color: #f2c471;
}
.intro {
  font-size: 1.5rem;
  width: 40%;
  text-align: center;
  line-height: 30px;
}
.memoji {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #f2c571;
  margin-top: 5%;
}
.intro-bio {
  margin: 20px 0;
}
.intro-desc2 {
  text-align: center;
  font-size: 1.2rem;
  // border: 1px solid red;
  width: 60%;
  margin: 0 auto;
}
.top {
  animation: 3s linear 1s infinite alternate topAni;
}
@keyframes topAni {
  0% {
    top: -60px;
  }
  50% {
    // transform: scale(1.1);
    filter: blur(0);
    z-index: 20;
    top: 100px;
  }
  100% {
    transform: translateZ(150px);
    top: 0;
  }
}
.between {
  animation: 5s linear 1s infinite alternate betweenAni;
}
@keyframes betweenAni {
  0% {
    top: 0px;
    transform: translateZ(150px);
  }
  50% {
    top: -60px;
  }
  100% {
    filter: blur(0);
    // transform: scale(1.1);
    top: 60px;
  }
}
.bottom {
  animation: 5s linear 1s infinite alternate bottomAni;
}

.html-code {
  top: 20px;
  animation: 0.3s linear 2s html;
}
.anchors {
  margin-top: 50px;
  display: flex;
  gap: 10px;
}

.hand {
  color: #f2c471;
}

.hand:hover {
  cursor: pointer;
  animation: wave 1s infinite;
}
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@media screen and (max-width: 800px) {
  .Hero {
    width: 90vw;
  }
  .memoji {
    width: 240px;
    height: 240px;
  }
  .intro {
    width: 90%;
  }
  .intro-bio {
    margin: 0;
    font-size: 1.2rem;
    width: 100%;
  }
}
