.Hero {
  margin-inline: auto;
  display: flex;
  align-items: center;
}
.Header-wrap {
  margin-inline: auto;
}
.Hero-header {
  width: 768px;
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  margin-inline: auto;
  margin-top: 100px;
}
.Bio {
  max-width: 342px;
  padding-top: 50px;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Hero-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
}
.kumar {
  color: #6e57e0;
}
.memoji {
  width: 300px;
  border-radius: 28% 72% 66% 34% / 52% 44% 56% 48%;
  background-color: #6e57e0;
  margin-top: 5%;
}
.Bio-title {
  font-size: 48px;
  font-weight: 600;
  margin: 20px 0;
}
.Bio-description {
  color: #bcbac4;
}
.anchor {
  margin: 20px 0;
  padding: 15px 20px;
  border-radius: 10px;
  background-color: #6e57e0;
  color: white;
  width: fit-content;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
.scrollDown {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 80px;
  padding-left: 25px;
  cursor: pointer;
  text-decoration: none;
  color: #bcbac4;
}
.down-icon {
  color: #6e57e0;
}
.mouse {
  color: #6e57e0;
}
.social-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  color: #6e57e0;
  position: relative;
  right: 50px;
}
.social-link {
  cursor: pointer;
}
@media screen and (max-width: 850px) {
  .social-links {
    left: 10px;
  }
}
@media screen and (max-width: 800px) {
  .memoji {
    width: 200px;
    height: 200px;
  }
  .Bio-title {
    font-size: 36px;
  }
  .secondary-title {
    font-size: 1.2rem;
    font-weight: 600px;
  }
  .Bio-description {
    font-size: 1rem;
  }
  .Bio {
    padding-top: 0;
  }
  .social-links {
    right: 0;
  }
}

@media screen and (max-width: 750px) {
  .Hero-header {
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
  }
  .social-links {
    right: 0;
    flex-direction: row;
  }
}
@media screen and (max-width: 600px) {
  .Bio-title {
    font-size: 30px;
  }
  .Bio {
    margin: 0 10px;
    font-size: 90%;
  }
  .anchor {
    transform: scale(0.8);
  }
  .secondary-title {
    font-size: 1.1rem;
    font-weight: 600px;
  }
  .Hero-header {
    margin: 50px 0;
  }
  .social-links {
    right: 0;
    flex-direction: row;
  }
}
