.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 990px;
  height: 72px;
  margin-inline: auto;
  background-color: #191627;
  z-index: 50;
  position: sticky;
  top: 0;
  padding: 0 15px;
}
.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.tab-link {
  text-decoration: none;
  list-style: none;
  color: #dee2e6;
  text-transform: capitalize;
}
.active {
  // color: #6e57e0;
}
.tab {
  font-size: 0.9rem;
}
.tab:hover {
  // text-shadow: 1px 1px 5px #6e57e0;
}
.nav-name {
  font-size: 2.5rem;
}
.km {
  text-decoration: none;
  font-size: 1.2rem;
}
@media screen and (max-width: 800px) {
  .navigation {
    padding: 0.5rem 2rem;
  }
}
@media screen and (max-width: 600px) {
  .navigation {
    display: none;
  }
  .nav-logo {
    visibility: hidden;
  }
  .navigation {
    margin: 0 auto;
    width: 90vw;
    justify-content: center;
    padding: 0.5rem;
  }
  .tabs {
    gap: 0.6rem;
  }
}
