.skills {
  margin-top: 10px;
  padding-top: 100px;
}
.skillset {
  margin-top: 30px;
  width: 768px;
  margin-inline: auto;
  line-height: 30px;
}
.skill-head {
  color: #6e57e0;
  font-weight: 600;
  font-size: 1.1rem;
}

@media screen and (max-width: 750px) {
  .skills {
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 600px) {
  .skill-title {
    font-size: 30px;
  }
  .skillset {
    width: 90vw;
  }
  .skills {
    width: 100%;
    margin: 0 10px;
    font-size: 80%;
  }
  .skill-info {
    word-wrap: break-word;
  }
}
